/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Nanum Gothic" sans-serif;
  font-weight: normal;
  overflow-y: scroll;
  background-color: #4a274f;
  color: #f0a07c;
}

#title {
  text-align: center;
  display: flex;
  width: 100vh;
  height: 100vh;
}

/* Title container that keeps information at the top of the website*/
.title_container {
  padding: 5.5rem 1rem;

  text-align: center;
  font-weight: bold;
  padding-left: 15rem;
  padding-right: 15rem;
}

/* Keep all divs display in block */
div {
  display: block;
}

/* Ensuring information stays in a grip */
.d_grid {
  display: grid !important;
}
/* Keeping the space gap at 1rem */
.gap_3 {
  gap: 1rem !important;
}
/* align items in the center */
.align_items_center {
  align-items: center !important;
}

/* fluid container to make the front of the webpage */
.fluid_container {
  padding: 0 15rem;
  margin: 0 auto;
  /* text-align: center; */
}

.row {
  margin-left: -15rem;
  margin-right: -15rem;
}

.farkle_bg {
  background: url("https://images.unsplash.com/photo-1586794257520-b497cd0c2bd8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGRpY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    no-repeat center;
  background-size: cover;
}

#farkle {
  color: rgb(7, 43, 58);
  font-weight: bold;
  /* text-align: right; */
}

.col-sm-6,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

#travel_bg {
  background: url("https://images.unsplash.com/photo-1556767223-80843e91e7d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmlnaHQlMjB0cmF2ZWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    no-repeat center;
  background-size: cover;
}

#travel {
  color: rgb(66, 183, 230);
  font-weight: bold;
  /* text-align: justify; */
}

#seh_bg {
  background: url("https://images.unsplash.com/photo-1599056481506-c4975215aff4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHVzJTIwYXJteXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    no-repeat center;
  background-size: cover;
}

#seh {
  color: rgb(66, 183, 230);
  font-weight: bold;
  /* text-align: justify; */
}

/* half-block is what makes the containers take up the full page */
.half_block {
  text-align: center;
  margin: 0 -15px;
  background-position: center;
  background-size: cover;
}
