/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 1.25rem;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: bolder;
  color: aliceblue;
  text-align: left;
  background: black;
}

#nav-bar {
  width: 100%;
  z-index: 100;
}

#a_m_video {
  width: 100vw;
  padding-bottom: 3rem !important;
}

#bullgates {
  background: url("/img/slides/bullgates_title_flag.jpg") no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#mcs {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("/img/slides/mcs.png") no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#farkle {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1586685984116-94cca153e792?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRpY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#tap {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15)),
    url("https://images.unsplash.com/photo-1556767223-80843e91e7d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmlnaHQlMjB0cmF2ZWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#seh {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1529650662964-3ea36e4ed456?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGxhc3RpYyUyMHNvbGRpZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#wTM {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1453683685760-b8db0bbb8dc2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWlsaXRhcnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#react_example {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1627243969661-5733a115acc2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGV4YW1wbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#react_game {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1570572137089-1655117ad216?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9uZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: aliceblue;
  width: 25vw;
}

#placeholder {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/slides/placeholder.png");
  background-size: cover;
  color: black;
  width: 25vw;
}
.WebContainer {
  width: 100%;
  min-width: 1000px;
  height: 100%;
}

#nav-bar {
  width: 100%;
  z-index: 100;
  background-color: black;
}

#brand-container {
  line-height: 0.5;
  margin-left: 0.5rem;
}

#social-menu {
  justify-content: end;
}

#contact-form {
  background: black;
}

.pad5 {
  margin-top: 5rem;
}

.pad2 {
  margin-top: 2rem;
}

.pad1 {
  margin-top: 1rem;
}

.padL {
  margin-right: 1rem;
}

#message {
  width: 100%;
}

.filterDiv {
  float: center;
  /* background-color: #2196F3; */
  color: aliceblue;
  width: 50vw;
  /* line-height: 100px; */
  height: auto;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.btn {
  color: aliceblue;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #928efe;
  color: aliceblue;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #b4dcff;
  color: black;
  font-weight: bolder;
}

/* The "show" class is added to the filtered elements */
.show {
  width: 100vw;
  display: contents;
}

#bottom {
  /* /* position: absolute; */
  bottom: 0;
  align-items: baseline;
  /* padding-bottom: 2rem; */
}
