/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 1.25rem;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: bolder;
  color: aliceblue;
  text-align: left;
  background: black;
}

#nav-bar {
  width: 100%;
  z-index: 100;
}

#a_m_video {
  width: 100vw;
  padding-bottom: 3rem !important;
}

#bullgates {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1621761119692-595bf443cbc2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y3J5cHRvY3VycmVuY2llc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
  border: none;
  /* justify-content: center; */
}

#mcs {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRvY3RvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
  border: none;
}

#sd {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(136, 54, 54, 0.25)),
    url("https://images.unsplash.com/photo-1613421465619-b324c4dfc2d0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNvcm5lciUyMHN0b3JlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
  border: none;
}

#farkle {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1586685984116-94cca153e792?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRpY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
}

#tap {
  background: url("https://images.unsplash.com/photo-1556767223-80843e91e7d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmlnaHQlMjB0cmF2ZWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
}

#seh {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1529650662964-3ea36e4ed456?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGxhc3RpYyUyMHNvbGRpZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
}

#wTM {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1453683685760-b8db0bbb8dc2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWlsaXRhcnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  width: 50%;
}

#react_example {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1627243969661-5733a115acc2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGV4YW1wbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
}

#react_game {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1570572137089-1655117ad216?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9uZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
}

#placeholder {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1512532019-3bdca31ba6ed?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fG5lb24lMjBuaWdodHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
      no-repeat center;
  background-size: cover;
  color: aliceblue;
  width: 50%;
}

.WebContainer {
  width: 100%;
  min-width: 1000px;
  height: 100%;
}

#nav-bar {
  width: 100%;
  z-index: 100;
  background-color: black;
}

#brand-container {
  line-height: 0.5;
  margin-left: 0.5rem;
}

#social-menu {
  justify-content: end;
}

#contact-form {
  background: black;
}

.pad5 {
  margin-top: 5rem;
}

.pad2 {
  margin-top: 2rem;
}

.pad1 {
  margin-top: 1rem;
}

.padL {
  margin-right: 1rem;
}

#message {
  width: 100%;
}

.filterDiv {
  float: left;
  color: aliceblue;
  width: 50vw;
  padding: 50px;
  height: auto;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.btn {
  color: aliceblue;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #928efe;
  color: aliceblue;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #b4dcff;
  color: black;
  font-weight: bolder;
}

/* The "show" class is added to the filtered elements */
.show {
  display: contents;
}
