/* This allows us to have consistent font (size, family, weight), line height with a consistent background image. */

/* scroll allows end user to scroll through our website */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Nanum Gothic" sans-serif;
  font-weight: normal;
  /* background-image: url("https://images.unsplash.com/photo-1599551528722-6b6d968512a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */

  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
/* Title information and first container */
#title {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}
/* Title container that keeps information at the top of the website*/
.title_outter_container {
  padding: 0.5rem 1rem;
  background: url("https://images.unsplash.com/photo-1496115965489-21be7e6e59a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    no-repeat center fixed;
  background-size: cover;
}

/* Title inner container */
.title_inner_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
  color: rgb(58, 238, 193);
  font-weight: bolder;
}

/* Keep all divs display in block */
div {
  display: block;
}

/* Ensuring information stays in a grip */
.d_grid {
  display: grid !important;
}
/* Keeping the space gap at 1rem */
.gap_3 {
  gap: 1rem !important;
}
/* align items in the center */
.align_items_center {
  align-items: center !important;
}

/* fluid container to make the front of the webpage */
.fluid_container {
  padding: 0 15rem;
  margin: 0 auto;
  text-align: center;
}

.row {
  margin-left: -15rem;
  margin-right: -15rem;
}

/* half-block is what makes the containers take up the full page */
.half_block {
  text-align: center;
  margin: 0 -15px;
  background-position: center;
  background-size: cover;
}

#pad20 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

#projects {
  background: url("https://images.unsplash.com/photo-1478432780021-b8d273730d8c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat center;
  background-size: cover;
  color: darkgoldenrod;
}

#python_game {
  background: url("https://images.unsplash.com/photo-1522091789614-22a1f25d0a3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    no-repeat center;
  background-size: cover;
  color: darkgoldenrod;
}

#footer {
  color: deepskyblue;
  background: url("https://images.unsplash.com/photo-1489513691500-41ef4acdb665?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat center;
  background-size: cover;
}

#padd10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: orange;
  color: black;
}

/* .fa-salesforce {
  background: rgb(8, 160, 114);
  color: #e42283;
} */

.social_menu {
  margin: 5rem 0 0 0;
  list-style-type: none;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: inline;
  float: left;
  margin: 0px 10px 0px 0px;
  padding: 0;
  width: auto;
  font-size: small;
}
#paragraphs {
  padding-top: 20px;
}

.fadeInUp {
  animation-name: fadeInUp;
}
.totop_wrapper {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}

.col-sm-6,
.col-lg-12 {
  position: center;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
